@{
    Layout="MainLayout"; // Не використовуємо Layout
}

<h1 class="text-center">Додати користувача</h1>

<form>
    <div class="mb-3">
        <label for="name" class="form-label">Ім'я'</label>
        <input type="text" class="form-control" id="name">
    </div>

    <button type="submit" class="btn btn-primary">Створити</button>
</form>